*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(237 242 247);
    height: 80px;
    text-align: center;
    margin-bottom: 50px;
}

.logo{
    margin-top: 10px;
}

/* primo container con funzione inserimento nuovi task */

.input-container{
    background-color: rgb(237 242 247);
    height: 80px;
    width: 1000px;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 1px;
}

.box-ins-task{
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.button-add-task{
    background-color: rgb(20 170 245);
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

/* secondo container grande */

.container-grande{
    background-color: rgb(237 242 247);
    width: 1000px;
    height: 600px;
    padding: 60px;
}

/* inizio lista annidata, task precedenti */

ol{
    list-style-type: none;
}

ul{
    list-style-type: none;
}

.elementi-sottolineati{
    width: 700px;
    height:40px;
    background-color: white;
    margin-left: 10px;
    margin: 10px ;
    text-decoration: line-through;
    border-radius: 4px;
    padding: 10px;
}



.editorial{
    background-color: rgb(20 170 245);
    color: white;
    margin-left: 10px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;

}

/* task oggi */

.q1-goals{
    background-color: rgb(171 93 230);
    color: white;
    margin-left: 10px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;

}

.elementi-non-sottolineati{
    width: 700px;
    height:40px;
    background-color: white;
    margin-left: 10px;
    margin: 10px ;
    border-radius: 4px;
    padding: 10px;
}

.recruiting{
    background-color: rgb(44 198 171);
    color: white;
    margin-left: 10px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

.mobile{
    background-color: rgb(255 155 0);
    color: white;
    margin-left: 10px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

/* task prossimi gionri */

.website{
    background-color: rgb(236 74 157);
    color: white;
    margin-left: 10px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

.sales{
    background-color:rgb(163 209 22);
    color: white;
    margin-left: 10px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}



.cross{
    text-decoration: line-through black;
}

